@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  textarea {
    resize: none;
  }
}

@layer components {
}

.tb-head {
  @apply pl-[8px] md:pl-[12px];
}

.tb-data {
  @apply px-[8px] py-[9px]  align-middle md:px-[12px] md:py-[20px];
}

.state-badge {
  @apply px-[10px] py-[6px] rounded-[28px] text-[12px] md:text-[14px];
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 63px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #7d7986;
  border-radius: 40px;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
